{% extends "users/base.html" %}
{% block title %}ProposalPage{% endblock title %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dopses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css?h=f3f5e3e0fd9b38313d60c6777e01a15a">
</head>
    

    
        

    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <!-- Start: 1 Row 2 Columns -->
    <div class="container border rounded-0">
        
        <div class="row">
            <div class="col-md-6 col-lg-8 text-bg-light">
                
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                      
                        <li class="page-item"><a class="page-link" href="{% url 'users-proposal' %}">Cover Page</a></li>
                      <li class="page-item"><a class="page-link" href="{% url  'abstractPage'%}">Abstract Details</a></li>
                      <li class="page-item"><a class="page-link" href="{% url  'schedulingPage'%}">Scheduling Request</a></li>
                      
                      <li class="page-item"><a class="page-link" href="{% url  'instrumentPage'%}">Instrument Setup</a></li>
                      <li class="page-item"><a class="page-link" href="{% url  'objectsPage'%}">List of Objects</a></li>
                      <li class="page-item"><a class="page-link" href="{% url  'observationPage'%}">Observation Strategy</a></li>
                      <li class="page-item"><a class="page-link" href="{% url  'attachmentsPage'%}">Attachments Details</a></li>
                      <li class="page-item"><a class="page-link" href="{% url  'publicationsPage'%}">Publications Details</a></li>
                      <li class="page-item disabled"><a class="page-link" href="{% url  'previewPage'%}">Preview &amp; Submit</a></li>
                      
                    </ul>
                </nav>
                
                <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                <div class="p-3 py-5" style="padding-top: 64px;margin-top: -48px;">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Regular Proposal</h4>
                    </div>
                    <hr>
        
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-row">
                        <div class="col-md-5">
                            
                            <div class="form-group">
                                
                                <label class="small mb-0"><h6>Proposal Category:</h6></label>
                                    {{ proposal_form.proposal_category }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Proposal Title:</h6></label>
                                    {{ proposal_form.proposal_title }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Proposal Type:</h6></label>
                                    {{ proposal_form.proposal_type }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Target of Opportunity:</h6></label>
                                    {{ proposal_form.target_opportunity }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Co-Proposers:</h6></label>
                                    {{ proposal_form.co_proposers }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Co-PI among Co-Proposers:</h6></label>
                                    {{ proposal_form.co_pi }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>PI/Co-PI/Co-I who will be present for observation:</h6></label>
                                    {{ proposal_form.present_ob }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                                
                                <label class="small mb-0"><h6>Abstract:</h6></label>
                                    {{ proposal_form.abstract }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Do you have any successful proposal in the previous cycles?</h6></label>
                                    {{ proposal_form.successful_proposals }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Scheduling Request:</h6> </label>
                                    {{ proposal_form.scheduling_request }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Observing time requested:</h6></label>
                                    {{ proposal_form.observing_time }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Preferred Dates (YYYY-MM-DD):</h6></label>
                                    {{ proposal_form.preferred_date }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Impossible Dates (YYYY-MM-DD):</h6></label>
                                    {{ proposal_form.impossible_date }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Justification for scheduling request:</h6> </label>
                                    {{ proposal_form.justification }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                                    
                                <label class="small mb-0"><h6>Observation mode:</h6></label>
                                    {{ proposal_form.observation_mode }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>List of Objects:</h6></label>
                                    {{ proposal_form.tech_justify }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Technical justification and observing strategy:</h6> </label>
                                    {{ proposal_form.tech_justify }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Plans for data reduction & analysis:</h6></label>
                                    {{ proposal_form.plans }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Scientific Justification:</h6>
                                    <b>Note:</b>
                                        Only a PDF file with a size of less than 5 MB is allowed.
                                        The file should not exceed 2 pages (File longer than 2 pages will be truncated to first two pages only).
                                        Font size should be 11 pt.</label>
                                    {{ proposal_form.scientific_justify }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Technical Justification (attachments if any):</h6>
                                    <b>Note:</b>
                                        Only a PDF file with a size of less than 5 MB is allowed.
                                        The file should not exceed 1 page (File longer than 1 page will be truncated to first page only).
                                        Font size should be 11 pt.</label>
                                    {{ proposal_form.technical_justify }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Status of ongoing/previous proposals (attachments if any):</h6>
                                    <b>Note:</b>
                                    For ongoing proposal, provide status report including figures (max one page)
                                    Only a PDF file with a size of less than 5 MB is allowed.</label>
                                    {{ proposal_form.ongoing_proposal_status }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Report on previous observations from 3.6m DOT (restrict to past 5 years), if any:</h6></label>
                                    {{ proposal_form.previous_obser }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Publications relevant to this proposal in last 5 years where PI/Co-I are authors, if any:</h6></label>
                                {{ proposal_form.publication_relevant }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

                                <label class="small mb-0"><h6>Upload Publication List (using BibTeX file):</h6>
                                        NOTE: You can download a sample BibTeX file from</label>
                                        {{ proposal_form.publication_list }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                                <label class="small mb-0"><h6>Status:</h6></label>
                                    {{ proposal_form.status }}
                                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                                    
                            </div>
                            
                        </div>
                    </div>
            </div>
                <div class="text-center mt-5">
                    <button class="btn btn-primary profile-button" type="submit">Save</button>
                    <button class="btn btn-primary profile-button" type="reset">Reset</button>
                </div>
                <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
            
            </form>
            
            </div><!-- End: 1 Row 2 Columns -->
                <div class="col-md-6 col-lg-4" style="background-color: #d0e4fc">
                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                    <h3>Welcome to DFOT-OPSES</h3>
                    <h6><em><span style="color: rgb(68, 155, 242);">Use the “SAVE” button at the bottom of each page to save its contents.

                        All mandatory fields are marked using a “<span style="color: rgb(245, 20, 5);">*</span>” symbol.</span></em></h6>
                    
                    <strong>Tips</strong>
                    <p></p>
                    
                    <ul>
                    <li>If all the mandatory fields are filled, a preview of the proposal will be generated. Any missing information will be notified to the proposer here. Once you are satisfied with your entries, submit the proposal.
                        <b><span style="color: rgb(245, 20, 5);"> Please note that proposal once submitted cannot be edited but can only be deleted / withdrawn. </span></b>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->


{% endblock content %}