{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dopses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css?h=f3f5e3e0fd9b38313d60c6777e01a15a">
</head>

<body>
    <!-- Start: Navbar Right Links (Dark) -->
    <nav class="navbar navbar-light navbar-expand-md bg-opacity-75 bg-primary-subtle py-3  shadow p-3 mb-5 bg-white rounded">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span><strong>DFOT-OPSES</strong></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5"><img src="{% static 'img/aries_logo_auto_6_3_1.png' %}" alt="Aries Logo" width="457" height="40">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'indexPage' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'manageProposalsPage' %}">Manage proposals</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contactPage' %}">Contact</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">&nbsp;</a>
                        <div class="dropdown-menu text-start border-2 shadow"><a class="dropdown-item" href="{% url 'profile' %}">My profile</a><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!-- End: Navbar Right Links (Dark) -->
   
    <!-- Start: 1 Row 2 Columns -->
    <div class="container border rounded-0 shadow rounded">
        
        <div class="row">
            <div class="col-md-6 col-lg-8 text-bg-light">
                <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                <h4>Guidelines / Instructions / Acknowledgement</h4><strong>Guidelines for time allocation and data policy&nbsp;<a href="#">Click!</a>&nbsp;<br><br></strong>
                <h6>Please read the following instructions</h6>
                <p></p>
                <ul>
                    <li>The proposal (or proposals) can be submitted only by the Principal Investigator (PI).</li>
                    <li>All the mandatory fields are indicated by a * symbol.</li>
                    <li>All the Co-Proposers of the proposal are required to be registered with the DFOT Online Proposal Submission and Evaluation System (DOPSES). Principal Investigator (PI) can include names of Co-Proposers only if they are already registered with the DFOT-OPSES.</li>
                    <li>Check the entries carefully in the "Preview" section before submitting the proposal in the "Final" step. Once submitted, no modifications are allowed, A pdf copy of the submitted proposal will be sent to the PI and Co-Proposers through registered e-mail.</li>
                    <li>For any query regarding the proposal submission, send an email to&nbsp;<span style="color: rgb(0, 0, 255); background-color: rgb(242, 249, 254);">dopses@aries.res.in&nbsp;</span>and for any technical query send to&nbsp;<span style="color: rgb(0, 0, 255); background-color: rgb(242, 249, 254);">dtac@aries.res.in&nbsp;</span>.</li>
                </ul><strong>Acknowledgement<br></strong>
                <p>We request all scientific papers based on the DFOT data to include the following acknowledgement (selecting the parenthetical words as appropriate). The data (Part of the data) presented herein were obtained at Devasthal Optical Telescope (DOT) which is operated by Aryabhatta Research Institute of Observational Sciences (ARIES). We thank the staff of ARIES who made these observations possible.
                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                    <b>I have read all the guidelines regarding the time allocation & the data policy, the instructions and the acknowledgement mentioned above. I agree to comply.</b>
                </p>

                <a  style="
                      
                      border: none;
                      color: rgb(252, 249, 249);
                      padding: 10px 18px;
                      text-align: center;
                      text-decoration: none;
                      display: inline-block;
                      font-size: 14px;
                      cursor: pointer;
                      border-radius: 4px;
                    " class="accept-button btn btn-primary profile-button" href="{% url 'users-proposal' %}">Accept</a>
                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                    <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->

            </div>
            <div class="col-md-6 col-lg-4" style="background-color: #d0e4fc">
                <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
                <h3>Welcome to DFOT-OPSES</h3><strong>Tips</strong>
                <p></p>
                <ul>
                    <li>Please read the "Guidelines for time allocation and data policy" carefully before proceeding with the preparation of the proposal and subsequent submission.</li>
                    <li>Please read the instructions carefully. For any assistance contact on the emails provided.</li>
                    <li>An already created proposal can be edited/withdrawn by visiting the "<a href="{% url 'manageProposalsPage' %}">Manage Proposals</a>" page.</li>
                </ul>
            </div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->
    <!-- Start: Footer Clean -->
    <footer class="text-center text-dark py-4">
        <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
        <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
        <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
        <!-- Start: Simple Line BReak --><br><!-- End: Simple Line BReak -->
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col-lg-12 text-dark">
                    <p class="fs-5 text-start bg-primary-subtle shadow float-none my-2">DFOT-OPSES | Aryabhatta Research Institute of Observational Sciences (ARIES), Nainital</p>
                </div>
            </div>
        </div>
    </footer><!-- End: Footer Clean -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js?h=6dac8d294ec5d11ebfbcf6a98f7a20a5"></script>
</body>

</html>